.carrusel {
  height: 15vh;
  display: flex;
  align-items: center;
  animation: animate 4s linear infinite;
}

.carrusel-items {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 30px 0px;
  
}

.carrusel-item {
  min-width: 300px;
  max-width: 300px;
  height: 200px;
  outline: 2px solid black;
  cursor: pointer;
  animation: animate 4s linear infinite;
}

.carrusel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: animate 4s linear infinite;
}

.carrusel-item:hover {
  transform: scale(1.2);
  animation: animate 4s linear infinite;
}
@keyframes animate2{
    0%
    {
        transform: translateY(0) scaleY(1);
    }
    70%
    {
        transform: translateY(360px) scaleY(1);
    }
    80%
    {
        transform: translateY(360px) scaleY(0.2);
    }
    100%
    {
        transform: translateY(360px) scaleY(0) scaleY(15);
    }
}