 *{
    margin: 0px;
    padding: 1px;

  }
  body{
    background: #020202; 
  }
  .general{
    margin: auto;
    margin-top: 0px;
    width: 80%;
    max-width: 1000px;
    height: 800px;
  }
  .sub1-sub1{
    width: 20%;
    height: 100px;
    box-sizing: border-box;
    background: #000000;
    color: #e6bd09;
    float: left;
    text-align: center;
  }
  .sub1-sub2{
    width: 60%;
    height: 100px;
    box-sizing: border-box;
    background: #000000;
    color: #ffffff;
    float: left;
    text-align: center;
  }
  .sub1-sub3{
    width: 20%;
    height: 100px;
    box-sizing: border-box;
    background: #000000;
    color: #e6bd09;
    float: left;
    text-align: center;
  }
    .sub01{
    width: 4.7%;
    height: 1px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
    text-align: center;
  }
  .sub02{
    width: 4.7%;
    height: 1px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
    text-align: center;
  }
  .sub03{
    width: 4.7%;
    height: 1px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
    text-align: center;
  }
  .sub04{
    width: 4.7%;
    height: 1px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
    text-align: center;
  }
  .sub05{
    width: 4.7%;
    height: 1px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
    text-align: center;
  }
  .sub06{
    width: 4.7%;
    height: 1px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
    text-align: center;
  }
  .sub07{
    width: 4.7%;
    height: 1px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
    text-align: center;
  }
  .sub08{
    width: 4.7%;
    height: 1px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
    text-align: center;
  }
  .sub09{
    width: 4.7%;
    height: 1px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
    text-align: center;
  }
  .sub010{
    width: 4.7%;
    height: 1px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
    text-align: center;
  }
  .sub011{
    width: 4.7%;
    height: 1px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
    text-align: center;
  }
  .sub012{
    width: 4.7%;
    height: 1px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
    text-align: center;
  }
  .sub013{
    width: 4.7%;
    height: 1px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
    text-align: center;
  }
  .sub014{
    width: 4.7%;
    height: 1px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
    text-align: center;
  }
  .sub015{
    width: 4.7%;
    height: 1px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
    text-align: center;
  }
  .sub016{
    width: 4.7%;
    height: 1px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
    text-align: center;
  }
  .sub017{
    width: 4.7%;
    height: 1px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
    text-align: center;
  }
  .sub018{
    width: 5%;
    height: 1px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
    text-align: center;
  }
  .sub019{
    width: 5%;
    height: 1px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
    text-align: center;
  }
  .sub020{
    width: 5%;
    height: 1px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
    text-align: center;
  }
  .sub021{
    width: 5%;
    height: 1px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
    text-align: center;
  }
  .subgeneral1{
    width: 100%;
    height: 180px;
    box-sizing: border-box;
    background: #000000;
    color: #c90e0e;
    float: left;
  }
  .subgeneral2{
    width: 10%;
    height: 600px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
  }
  .subgeneral3{
    width: 80%;
    height: 600px;
    box-sizing: border-box;
    background: #000000;
    float: left;
  }
  .subgeneral4{
    width: 10%;
    height: 600px;
    box-sizing: border-box;
    background: #000000;
    color: #fffefe;
    float: left;
  }
  .basevideo{
    width: 100%;
    height: 65%;
    background: #000000;
  }
   .video{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
 }
  

  @media screen and (max-width:800px){
  .video{
    width: 100%;
    height: 100%;
  }
  
   }
  @media screen and (max-width: 400px){
    .general{
      width: 100%;
    }
  }
